<h1>Ma liste de tâche</h1>

<div class="todos">

  <div class="todo" *ngFor="let todo of todos$ | async ">
   
    <h3
      *ngIf="!todo.isEditable"
      [class.done]="todo.done">
      {{ todo.text }}
    </h3>
    <input
      *ngIf="todo.isEditable"
      type="text"
      [(ngModel)]="todo.text">


    <div class="buttons">
      <button   class="bt-check"
      (click)="editTodo(todo)"> 
      {{ todo.isEditable? '✖︎' : '✔︎' }}
      </button>


    <button   class="bt-check"
    (click)="changeStateOfTodo(todo)"> 
    {{ todo.done? '✖︎' : '✔︎' }}
    </button>
    <button class="bt-close" (click)="deleteTodoItem(todo)">✖︎</button>
    </div>
  </div>
  
</div>


<!--  Donner la possibilité à l'utilisateur de créer une nouvelle tâche  -->
<form  #FORMULAIRE="ngForm" (submit)="addTodoItem(FORMULAIRE)">
  <input type="text" ngModel name="text">
  <button type="submit">Add</button>
</form>

